{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    product.name
{% endblock %}

{% block content %}

    <div class="sidebar">
        <a href="{% url "product_list" %}">
            <span>All Categories</span>
        </a>
        {% for c in categories %}
            {% if categoryOfProductSlug == c.slug %}
                <a href="{{ c.get_absolute_url }}" class="active">
                     <span>{{ c.title }}</span></a>
            {% else%}
                <a href="{{ c.get_absolute_url }}">
                     <span>{{ c.title }}</span></a>
            {% endif %}
        {% endfor %}
    </div>
     <div class="product-detail">

         <div id="product-detail-desc">
             <h1>{{ product.name }}</h1>
             <h2><a href="{{ product.brand.get_absolute_url }}">{{ product.brand }}</a></h2>
             <h2><a href="{{ product.category.get_absolute_url }}">
                    {{product.category }}</a></h2>
            <br>
             {% if not product.isOnSale %}
                 <h2> {{ product.price }}$ </h2>
             {% else %}
                 <h4 >{{ product.price }}$</h4>
                 <h2>{{ product.priceOnSale }}$ </h2>
             {% endif %}


             <h3><form action="{% url "product_detail_view" categoryOfProductSlug product.slug %}" method="post">
                 {{ form }}
                 {% csrf_token %}
                 <input type="submit" value="Add to cart">
             </form></h3>
             <br><br><br>
            <p>{{ product.description|linebreaksbr }}</p>

        </div>
        <div class="photosDetail">
        {% thumbnail main_image.image "600x600" as im %}
            <a href="{{ im.url }}">
                <img src="{% if product.mainImage %}{{ im.url }}{% else %}
                                   {% static "images/no_image.png" %}{% endif %}">
            </a>
        {% endthumbnail %}
        <br>
        <div id="extra">
            {% for image in product.images.all %}
                {% if main_image != image %}
                    {% thumbnail image.image "150x150" as im %}
                        <a href="{% url "product_detail_view_diff_image" categoryOfProductSlug product.slug image.id%}">
                            <img src="{{ im.url }}">
                            </a>
                    {% endthumbnail %}
                {% endif %}
            {% endfor %}
        </div>
        </div>
    </div>



{% endblock content%}