{% extends "base.html" %}
{% load static %}
{% load thumbnail %}


{% block title %}
    {% if categoryOfProducts %}
        categoryOfProducts.title
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}


    <div class="sidebar">
    {% if not categoryOfProducts %}
        <a href="{% url "product_list" %}" class="active">
            <span>All Categories</span>
        </a>
    {% else %}
        <a href="{% url "product_list" %}">
            <span>All Categories</span>
        </a>
    {% endif %}
        {% for c in categories %}
            {% if categoryOfProducts.slug == c.slug %}
                <a href="{{ c.get_absolute_url }}" class="active">
                     <span>{{ c.title }}</span></a>
            {% else%}
                <a href="{{ c.get_absolute_url }}">
                     <span>{{ c.title }}</span></a>
            {% endif %}
        {% endfor %}
    </div>


    <div id="main" class="product-list">
                {% for product in products %}
                    <div class="item">
                        {% thumbnail product.mainImage.image "480x480"  as im %}
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.mainImage %}{{ im.url }}{% else %}
                                    {% static "images/no_image.png" %}{% endif %}">
                            </a>
                        {% endthumbnail %}
                    <br>
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                            <h3>{{ product.price }}$</h3>
                    </div>
                {% endfor %}
    </div>


{% endblock content%}