{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="logClass">
        <h1>Login</h1>
        {% if form.errors %}
            <p>Username or password is incorrect. Try again.</p>
        {% else %}
            <p>Fill out the form below to login:</p>
        {% endif %}
    <br>
        <div class="login-form">
            <form action="{% url "login" %}" method="post">
                {% for field in form %}
                    <label>{{ field.label_tag }}</label>
                    <br>
                    {{ field }}
                    <br>
                    <br>
                {% endfor %}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                <p><input id = "button" type="submit" value="Login"></p>
            </form>
            <br>
        </div>
         <p>Don't have an account? <a href="{% url 'register' %}">
                 Create one!</a>
         </p>
    </div>
{% endblock content %}